.bg-circle{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.18;

pointer-events:none;

z-index:-1;

animation:float 18s ease-in-out infinite;

}

.bg-one{

width:520px;

height:520px;

background:#38BDF8;

top:-180px;

left:-180px;

}

.bg-two{

width:420px;

height:420px;

background:#6366F1;

right:-120px;

top:35%;

animation-delay:4s;

}

.bg-three{

width:500px;

height:500px;

background:#0EA5E9;

bottom:-220px;

left:35%;

animation-delay:8s;

}

@keyframes float{

0%{

transform:translateY(0px) translateX(0px);

}

50%{

transform:translateY(-40px) translateX(30px);

}

100%{

transform:translateY(0px) translateX(0px);

}

}