.about-section{

padding:120px 40px;

background:#08101F;

}

.about-container{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:1.4fr .8fr;

gap:80px;

align-items:center;

}

.section-tag{

display:inline-block;

color:#38BDF8;

font-weight:700;

letter-spacing:4px;

margin-bottom:20px;

}

.about-left h2{

font-size:56px;

line-height:1.2;

margin-bottom:35px;

color:white;

}

.about-left p{

font-size:19px;

line-height:2;

color:#CBD5E1;

margin-bottom:25px;

}

.about-right{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}

.about-card{

background:#111827;

padding:40px 30px;

border-radius:22px;

border:1px solid #1F2937;

text-align:center;

transition:.35s;

}

.about-card:hover{

transform:translateY(-10px);

border-color:#38BDF8;

box-shadow:0 25px 50px rgba(0,0,0,.35);

}

.about-card h3{

font-size:46px;

color:#38BDF8;

margin-bottom:15px;

}

.about-card span{

display:block;

font-size:16px;

line-height:1.6;

color:#CBD5E1;

}

@media(max-width:1000px){

.about-container{

grid-template-columns:1fr;

}

.about-left{

text-align:center;

}

.about-left h2{

font-size:42px;

}

.about-right{

grid-template-columns:1fr;

}

}