.footer{

background:#050816;

border-top:1px solid rgba(255,255,255,.08);

padding:90px 8% 35px;

}

.footer-content{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:60px;

align-items:start;

}

.footer h2{

font-size:34px;

margin-bottom:20px;

}

.footer p{

color:#CBD5E1;

line-height:1.9;

font-size:17px;

max-width:520px;

}

.footer-links{

display:flex;

flex-direction:column;

gap:18px;

}

.footer-links a{

color:#CBD5E1;

transition:.3s;

}

.footer-links a:hover{

color:#38BDF8;

}

.footer-email{

color:#38BDF8;

font-weight:700;

}

.copyright{

margin-top:60px;

padding-top:30px;

border-top:1px solid rgba(255,255,255,.08);

text-align:center;

color:#94A3B8;

font-size:15px;

}

@media(max-width:1000px){

.footer-content{

grid-template-columns:1fr;

text-align:center;

}

.footer p{

margin:auto;

}

}