.footer{

background:#050B16;

padding:90px 40px 30px;

border-top:1px solid rgba(255,255,255,.08);

}

.footer-container{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:80px;

}

.footer-brand h2{

font-size:34px;

margin-bottom:20px;

color:white;

}

.footer-brand p{

font-size:18px;

line-height:1.9;

color:#CBD5E1;

max-width:500px;

}

.footer-links h3,
.footer-contact h3{

margin-bottom:25px;

font-size:22px;

color:white;

}

.footer-links,
.footer-contact{

display:flex;

flex-direction:column;

}

.footer-links a,
.footer-contact a{

color:#CBD5E1;

margin-bottom:16px;

transition:.3s;

font-size:17px;

}

.footer-links a:hover,
.footer-contact a:hover{

color:#38BDF8;

padding-left:6px;

}

.footer-bottom{

max-width:1400px;

margin:70px auto 0;

padding-top:30px;

border-top:1px solid rgba(255,255,255,.08);

text-align:center;

color:#94A3B8;

font-size:15px;

}

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr;

gap:50px;

}

.footer{

padding:70px 25px 25px;

}

.footer-brand p{

max-width:100%;

}

}