*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:#050816;
font-family:Inter,Arial,sans-serif;
color:white;

}

section{

padding:120px 8%;

}

.container{

max-width:1400px;
margin:auto;

}

.section-title{

font-size:56px;
font-weight:700;
margin-bottom:25px;

}

.section-subtitle{

font-size:20px;
line-height:1.9;
color:#CBD5E1;
max-width:850px;

}

.gradient{

background:linear-gradient(
90deg,
#38BDF8,
#818CF8
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.card{

background:#111827;

border:1px solid #1E293B;

border-radius:24px;

padding:40px;

transition:.35s;

}

.card:hover{

transform:translateY(-8px);

border-color:#38BDF8;

box-shadow:0 20px 50px rgba(0,0,0,.45);

}

@media(max-width:900px){

section{

padding:90px 25px;

}

.section-title{

font-size:38px;

}

.section-subtitle{

font-size:18px;

}

}