.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

backdrop-filter:blur(18px);

background:rgba(8,16,31,.78);

border-bottom:1px solid rgba(255,255,255,.08);

}

.navbar-container{

max-width:1400px;

margin:auto;

padding:22px 40px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:32px;

font-weight:800;

text-decoration:none;

color:white;

letter-spacing:-1px;

}

.logo span{

color:#38BDF8;

}

nav{

display:flex;

align-items:center;

gap:38px;

}

nav a{

text-decoration:none;

color:#CBD5E1;

font-size:16px;

font-weight:500;

transition:.3s;

position:relative;

}

nav a:hover{

color:#38BDF8;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:#38BDF8;

transition:.3s;

}

nav a:hover::after{

width:100%;

}

.contact-btn{

padding:14px 24px;

border-radius:10px;

background:#38BDF8;

color:#08101F !important;

font-weight:700;

}

.contact-btn::after{

display:none;

}

.contact-btn:hover{

transform:translateY(-3px);

}

@media(max-width:1000px){

.navbar-container{

flex-direction:column;

gap:25px;

padding:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

gap:18px;

}

}