.projects-section{

padding:120px 0;

}

.projects-header{

text-align:center;

max-width:850px;

margin:auto auto 70px;

}

.projects-header h2{

font-size:52px;

margin:20px 0;

}

.projects-header p{

font-size:19px;

color:#CBD5E1;

line-height:1.8;

}

.projects-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(480px,1fr));

gap:40px;

}

.project-card{

background:#111827;

padding:40px;

border-radius:24px;

border:1px solid #1F2937;

transition:.35s;

}

.project-card:hover{

transform:translateY(-10px);

border-color:#38BDF8;

box-shadow:0 30px 60px rgba(0,0,0,.35);

}

.project-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.project-category{

color:#38BDF8;

font-weight:700;

letter-spacing:2px;

}

.project-status{

padding:8px 18px;

background:#08111F;

border-radius:999px;

font-size:13px;

color:#38BDF8;

}

.project-card h3{

font-size:34px;

margin-bottom:20px;

}

.project-card p{

line-height:1.9;

color:#CBD5E1;

margin-bottom:30px;

}

.project-stack{

color:#38BDF8;

font-weight:700;

}

@media(max-width:900px){

.projects-grid{

grid-template-columns:1fr;

}

}