.projects {
  background: #0B1120;
  padding: 100px 8%;
}

.projects-container {
  max-width: 1400px;
  margin: auto;
}

.projects-header {
  text-align: center;
  margin-bottom: 70px;
}

.projects-header p {
  color: #38BDF8;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
}

.projects-header h2 {
  color: white;
  font-size: 48px;
  margin: 10px 0 20px;
}

.projects-header span {
  display: block;
  max-width: 820px;
  margin: auto;
  color: #CBD5E1;
  font-size: 18px;
  line-height: 1.8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(420px,1fr));
  gap: 35px;
}

.project-card {
  background: #111827;
  border: 1px solid #334155;
  border-radius: 20px;
  padding: 40px;
  transition: .35s;
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: #38BDF8;
  box-shadow: 0 20px 45px rgba(0,0,0,.35);
}

.project-status {
  display: inline-block;
  background: rgba(56,189,248,.15);
  color: #38BDF8;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 22px;
}

.project-card h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.project-card h4 {
  color: #38BDF8;
  font-weight: 500;
  margin-bottom: 25px;
}

.project-card p {
  color: #CBD5E1;
  line-height: 1.9;
  margin-bottom: 28px;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-stack span {
  background: #1E293B;
  border: 1px solid #334155;
  color: #E2E8F0;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 14px;
}

@media(max-width:900px){

.projects-grid{
grid-template-columns:1fr;
}

.projects-header h2{
font-size:36px;
}

}