.scroll-top{

position:fixed;

right:30px;

bottom:30px;

width:56px;

height:56px;

border:none;

border-radius:50%;

background:#38BDF8;

color:#08101F;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

box-shadow:0 15px 40px rgba(56,189,248,.35);

transition:.35s;

z-index:9999;

}

.scroll-top:hover{

transform:translateY(-6px);

background:#67D3FF;

}