.skills-section{

padding:120px 40px;

background:#111827;

}

.skills-header{

max-width:900px;

margin:auto auto 70px;

text-align:center;

}

.skills-header h2{

font-size:56px;

margin:20px 0;

color:white;

}

.skills-header p{

font-size:20px;

line-height:1.9;

color:#CBD5E1;

}

.skills-grid{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}

.skill-card{

background:#08101F;

border:1px solid #1F2937;

border-radius:18px;

padding:30px;

text-align:center;

font-size:20px;

font-weight:600;

color:white;

transition:.35s;

}

.skill-card:hover{

transform:translateY(-8px);

border-color:#38BDF8;

color:#38BDF8;

box-shadow:0 25px 50px rgba(0,0,0,.35);

}

@media(max-width:1000px){

.skills-header h2{

font-size:42px;

}

.skills-grid{

grid-template-columns:1fr;

}

}