.skills{

background:#08101F;

}

.skills-grid{

display:flex;

flex-wrap:wrap;

gap:18px;

margin-top:55px;

}

.skill-pill{

padding:16px 26px;

border-radius:999px;

background:#101827;

border:1px solid rgba(255,255,255,.08);

font-size:16px;

font-weight:600;

color:#CBD5E1;

transition:.35s;

}

.skill-pill:hover{

background:#38BDF8;

color:#08101F;

transform:translateY(-4px);

}