.stats{

background:#08101F;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:28px;

}

.stat-card{

background:#101827;

border:1px solid rgba(255,255,255,.08);

border-radius:24px;

padding:40px;

text-align:center;

transition:.35s;

}

.stat-card:hover{

transform:translateY(-8px);

border-color:#38BDF8;

box-shadow:0 20px 60px rgba(56,189,248,.12);

}

.stat-card h2{

font-size:54px;

color:#38BDF8;

margin-bottom:16px;

}

.stat-card p{

font-size:18px;

line-height:1.8;

color:#CBD5E1;

}

@media(max-width:1100px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.stats-grid{

grid-template-columns:1fr;

}

}