.timeline{

background:#050816;

}

.timeline-wrapper{

margin-top:60px;

display:flex;

flex-direction:column;

gap:28px;

}

.timeline-item{

display:grid;

grid-template-columns:220px 1fr;

gap:35px;

align-items:center;

}

.timeline-year{

font-size:18px;

font-weight:700;

color:#38BDF8;

}

.timeline-card{

background:#101827;

border:1px solid rgba(255,255,255,.08);

border-radius:22px;

padding:30px;

transition:.35s;

}

.timeline-card:hover{

transform:translateX(8px);

border-color:#38BDF8;

}

.timeline-card h3{

font-size:24px;

margin-bottom:10px;

color:white;

}

.timeline-card p{

font-size:17px;

color:#CBD5E1;

}

@media(max-width:900px){

.timeline-item{

grid-template-columns:1fr;

gap:15px;

}

}