.timeline-section{

padding:120px 40px;

background:#08101F;

}

.timeline-header{

max-width:900px;

margin:auto auto 70px;

text-align:center;

}

.timeline-header h2{

font-size:56px;

color:white;

margin-top:20px;

}

.timeline{

max-width:1100px;

margin:auto;

position:relative;

}

.timeline::before{

content:"";

position:absolute;

left:140px;

top:0;

bottom:0;

width:3px;

background:#38BDF8;

}

.timeline-item{

display:grid;

grid-template-columns:120px 1fr;

gap:40px;

margin-bottom:60px;

position:relative;

}

.timeline-year{

background:#38BDF8;

color:#08101F;

font-weight:700;

padding:14px;

border-radius:12px;

text-align:center;

height:fit-content;

}

.timeline-content{

background:#111827;

border:1px solid #1F2937;

border-radius:20px;

padding:35px;

transition:.35s;

}

.timeline-content:hover{

transform:translateY(-8px);

border-color:#38BDF8;

box-shadow:0 20px 45px rgba(0,0,0,.35);

}

.timeline-content h3{

font-size:28px;

margin-bottom:18px;

color:white;

}

.timeline-content p{

font-size:18px;

line-height:1.9;

color:#CBD5E1;

}

@media(max-width:900px){

.timeline::before{

display:none;

}

.timeline-item{

grid-template-columns:1fr;

}

.timeline-year{

width:120px;

}

.timeline-header h2{

font-size:42px;

}

}