.icon-card{

background:#111827;

border:1px solid rgba(255,255,255,.08);

border-radius:24px;

padding:40px;

transition:.35s ease;

height:100%;

}

.icon-card:hover{

transform:translateY(-10px);

border-color:#38BDF8;

box-shadow:0 20px 40px rgba(56,189,248,.15);

}

.icon-circle{

width:72px;

height:72px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

background:rgba(56,189,248,.12);

color:#38BDF8;

margin-bottom:28px;

transition:.3s;

}

.icon-card:hover .icon-circle{

background:#38BDF8;

color:#08101F;

}

.icon-card h3{

font-size:24px;

font-weight:700;

margin-bottom:18px;

color:white;

}

.icon-card p{

font-size:17px;

line-height:1.8;

color:#CBD5E1;

}